.alert {
    z-index: 999;
    position: absolute;
    top: 85px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 100%);
    width: 360px;
    font-size: 12px;
    font-family: 'Charcoal';
    min-height: 66px;
    padding: 16px 16px 16px 26px;
    border: 1px solid #111;
    background: #dedade;
    box-shadow: 1px 2px #111, inset 1px 1px #ff9999, inset -1px -1px #ff6162, inset 2px 2px #fff, inset -2px -2px #999;
}

.alert .body {
    display: flex;
    flex-wrap: wrap;
}

.alert .icon {
    padding: 16px;
    margin-right: 25px;
}

.alert.caution .icon {
    background-image: url("../img/ui/icons-large/alert-caution.png");
    background-repeat: no-repeat;
}

.alert.note .icon {
    background-image: url("../img/ui/icons-large/alert-note.png");
    background-repeat: no-repeat;
}

.alert.stop .icon {
    background-image: url("../img/ui/icons-large/alert-stop.png");
    background-repeat: no-repeat;
}

.alert .content {
    display: flex;
}

.alert .buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}

.shutdown.alert button {
    width: 82px;
}
