.desktop {
    background-image: url("../img/ui/patterns/mac.png");
    background-repeat: repeat;
    flex-grow: 1;
}

.desktop div[class^="desktop-left"] {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}

.desktop .desktop-right {
    display: flex;
    flex-direction: column;
}

.sleep.active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 1;
}

.modal {
    position: absolute;
    z-index: 998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}